@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@import "./reset.css";
@import "./theme.css";
@import "./tailwind-theme.css";

@custom-variant dark (&:is(.dark *));

@layer base {
  *,
  *::before,
  *::after {
    @apply border-border outline-ring/50;
  }

  html {
    @apply font-sans;
  }

  body {
    @apply min-h-screen bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }

  ::selection {
    background: color-mix(in srgb, var(--primary) 30%, transparent);
  }
}

.plyr {
  --plyr-color-main: var(--secondary);

  --plyr-range-fill-background: var(--secondary);
  --plyr-menu-background: var(--secondary);
}
